<%- include('include/header')%>
  <body>
    <a href=<%=url%> id="seta"<></a>

    <section class="integration-form">
      <h1>Formulário de Integração</h1>
      <hr />
      <form>
        
      </form>
    </section>
    <script src="./assets/js/bundle.js"></script>
  </body>
</html>
